<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>vc</title>
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="stylesheets/mui/mui.min.css" rel="stylesheet">
    <link href="stylesheets/common.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-4 avatar">
            <img class="img-responsive img-circle" alt="Responsive image"
                 src="images/avatar/avatar.jpeg">
        </div>
        <div class="col-xs-8 text-right">
            <span class="profile-name profile">陈鹏</span>

            <span class="profile-city profile">
                <i class="fa fa-map-marker fa-fw"></i>
                <span class="contect">成 都</span>
            </span>
            <span class="profile-phone profile">
                <i class="fa fa-phone fa-fw"></i>
                <span class="contect">159 0282 0168</span>
            </span>
            <span class="profile-name profile">
                <i class="fa fa-envelope fa-fw"></i>
                <span class="contect">1223cpmy@163.com</span>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="text-primary item-title">
                <i class="fa fa-mortar-board fa-fw"></i>
                <span>教育</span>
                <hr>
            </div>
        </div>
        <div class="col-xs-3">
            <div>
                <span>2016</span>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="text-center">
                <span>电子科技大学</span>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="text-right">
                <span>本科</span>
            </div>
        </div>
    </div>
    <div class="row" id="accordion-2">
        <a data-pro="csj" class="block-collapse" data-parent="#accordion-2" data-toggle="collapse"
           href="#accordion-2-child-1">
            <div class="col-xs-12">
                <div class="text-primary item-title">
                    <i class="fa fa-file-text fa-fw"></i>
                    <span>
                        工作
                        <span class="right-content">
							<span class="pull-right">
								<i class="fa fa-chevron-down icon-collapse"></i>
                            </span>
                        </span>
                    </span>
                    <hr>
                </div>
            </div>
        </a>
        <div class="col-xs-12 collapse" id="accordion-2-child-1">
            <div class="panel-group" id="accordion-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a data-pro="csj" class="block-collapse" data-parent="#accordion-1" data-toggle="collapse"
                               href="#accordion-1-child-1">
                                椰城市民云
                                <span class="right-content">
									<span class="right-icon pull-right">
										<i class="fa fa-chevron-down icon-collapse"></i>
									</span>
								</span>
                            </a>
                        </h3>
                    </div>
                    <div id="accordion-1-child-1" class="collapse">
                        <div class="panel-body">
                            <span class="program-title">公积金、违章、文体活动、菜价的开发工作</span>
                            <span class="program-time">2017-12 -- 至今</span>
                            <span class="program-content">1、公积金：页面和后台api开发</span>
                            <span class="program-content">2、违章：页面开发</span>
                            <span class="program-content">3、文体活动：页面和后台api开发</span>
                            <span class="program-content">4、菜价：与第三方公司对接，页面和后台api开发</span>
                            <span class="program-content">4、主要使用：node、mysql、h5</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a data-pro="gww" class="block-collapse" data-parent="#accordion-1"
                               data-toggle="collapse"
                               href="#accordion-1-child-2">
                                万达信息云
                                <span class="right-content">
									<span class="right-icon pull-right">
										<i class="fa fa-chevron-down icon-collapse"></i>
									</span>
								</span>
                            </a>
                        </h3>
                    </div>
                    <div id="accordion-1-child-2" class="collapse">
                        <div class="panel-body">
                            <span class="program-title">万达信息云开发工作</span>
                            <span class="program-time">2016-10 -- 2017.10</span>
                            <span class="program-content">1、故障系统：数据库及api设计，后台api开发</span>
                            <span class="program-content">2、配额系统：api设计、页面和后台api开发</span>
                            <span class="program-content">3、其他模块：页面开发（账户、财务、门户）</span>
                            <span class="program-content">4、主要使用：node、mongodb</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a data-pro="pe" class="block-collapse" data-parent="#accordion-1"
                               data-toggle="collapse"
                               href="#accordion-1-child-3">
                                国卫网平台
                                <span class="right-content">
									<span class="right-icon pull-right">
										<i class="fa fa-chevron-down icon-collapse"></i>
									</span>
								</span>
                            </a>
                        </h3>
                    </div>
                    <div id="accordion-1-child-3" class="collapse">
                        <div class="panel-body">
                            <span class="program-title">国卫网平台cms开发工作</span>
                            <span class="program-time">2017-5 -- 2017.5</span>
                            <span class="program-content">1、api设计，后台api开发</span>
                            <span class="program-content">2、页面开发</span>
                            <span class="program-content">3、主要使用：node、mongodb</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a data-pro="gz" class="block-collapse" data-parent="#accordion-1"
                               data-toggle="collapse"
                               href="#accordion-1-child-4">
                                长三角平台
                                <span class="right-content">
                                    <span class="right-icon pull-right">
                                        <i class="fa fa-chevron-down icon-collapse"></i>
                                    </span>
                                </span>
                            </a>
                        </h3>
                    </div>
                    <div id="accordion-1-child-4" class="collapse">
                        <div class="panel-body">
                            <span class="program-title">长三角疾控共享平台开发工作</span>
                            <span class="program-time">2017-10 -- 2017.10</span>
                            <span class="program-content">1、后台api开发</span>
                            <span class="program-content">2、页面开发</span>
                            <span class="program-content">3、主要使用：node、mongodb</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a data-pro="cw" class="block-collapse" data-parent="#accordion-1"
                               data-toggle="collapse"
                               href="#accordion-1-child-5">
                                配额前端重构（VUE）
                                <span class="right-content">
                                    <span class="right-icon pull-right">
                                        <i class="fa fa-chevron-down icon-collapse"></i>
                                    </span>
                                </span>
                            </a>
                        </h3>
                    </div>
                    <div id="accordion-1-child-5" class="collapse">
                        <div class="panel-body">
                            <span class="program-title">万达信息云配额重构工作（VUE）</span>
                            <span class="program-time">2017-8 -- 2017.8</span>
                            <span class="program-content">1、项目spring_backlog跟进</span>
                            <span class="program-content">2、页面VUE重构</span>
                            <span class="program-content">3、主要使用：vue</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a data-pro="rpe" class="block-collapse" data-parent="#accordion-1"
                               data-toggle="collapse"
                               href="#accordion-1-child-6">
                                Node框架升级
                                <span class="right-content">
                                    <span class="right-icon pull-right">
                                        <i class="fa fa-chevron-down icon-collapse"></i>
                                    </span>
                                </span>
                            </a>
                        </h3>
                    </div>
                    <div id="accordion-1-child-6" class="collapse">
                        <div class="panel-body">
                            <span class="program-title">Node框架升级工作</span>
                            <span class="program-time">2017-7 -- 2017.7</span>
                            <span class="program-content">1、项目spring_backlog跟进</span>
                            <span class="program-content">2、Node依赖包升级、测试</span>
                            <span class="program-content">3、公共方法整理与封装</span>
                            <span class="program-content">3、使用文档编写</span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a data-pro="rz" class="block-collapse" data-parent="#accordion-1"
                               data-toggle="collapse"
                               href="#accordion-1-child-7">
                                故障系统软著
                                <span class="right-content">
                                    <span class="right-icon pull-right">
                                        <i class="fa fa-chevron-down icon-collapse"></i>
                                    </span>
                                </span>
                            </a>
                        </h3>
                    </div>
                    <div id="accordion-1-child-7" class="collapse">
                        <div class="panel-body">
                            <span class="program-title">故障系统软著工作</span>
                            <span class="program-time">2017-11 -- 2017.11</span>
                            <span class="program-content">1、故障系统软著资料整理</span>
                            <span class="program-content">1、软著文档编写</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="accordion-3">
        <a data-pro="csj" class="block-collapse" data-parent="#accordion-3" data-toggle="collapse"
           href="#accordion-3-child-1">
            <div class="col-xs-12">
                <div class="text-primary item-title">
                    <i class="fa fa-gears fa-fw"></i>
                    <span>
                        技能
                        <span class="right-content">
							<span class="right-icon pull-right">
								<i class="fa fa-chevron-down icon-collapse"></i>
                            </span>
                        </span>
                    </span>
                    <hr>
                </div>
            </div>
        </a>
        <div class="collapse" id="accordion-3-child-1">
            <div class="col-xs-12 skill">
                <span>目前</span>
                <hr>
                <p>当前技术方向为node</p>
                <p>开发工作中，后台主要使用node、express、mongoDB等进行开发，页面使用Bootstrap、jQuery、VUE等框架进行开发</p>
                <p>近期在椰城市民云的开发工作中，后台主要使用node、express、mysql等进行开发，页面主要使用H5、mui进行开发</p>
                <p>开发模式为敏捷开发，即快速迭代</p>
                <p>团队版本控制，使用自有搭建的GitLab</p>
            </div>
            <div class="col-xs-12 skill">
                <span>计划</span>
                <hr>
                <p>有意向React等数据驱动型前端框架发展</p>
            </div>
        </div>

    </div>
    <div class="row" id="accordion-4">
        <a data-pro="csj" class="block-collapse" data-parent="#accordion-4" data-toggle="collapse"
           href="#accordion-4-child-1">
            <div class="col-xs-12">
                <div class="text-primary item-title">
                    <i class="fa fa-align-left fa-fw"></i>
                    <span>
                        其他
                        <span class="right-content">
							<span class="right-icon pull-right">
								<i class="fa fa-chevron-down icon-collapse"></i>
                            </span>
                        </span>
                    </span>
                    <hr>
                </div>
            </div>
        </a>
        <div class="col-xs-12 collapse" id="accordion-4-child-1">
            <div class="container-masonry magnific-popup-wrap">
                <div id="img-show-list">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="javascripts/mui/mui.min.js"></script>
<script src="lib/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script src="javascripts/index.js"></script>
<script>
    $(function () {
        initImage();
    })
</script>
</body>
</html>
